In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('Homework_5') \
    .getOrCreate()

25/03/04 21:56:41 WARN Utils: Your hostname, Ndubuisis-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.0.0.204 instead (on interface en0)
25/03/04 21:56:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/04 21:56:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.version

'3.5.5'

In [5]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet

--2025-03-04 21:56:42--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:21dd:5c00:b:20a5:b140:21, 2600:9000:21dd:e600:b:20a5:b140:21, 2600:9000:21dd:2200:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:21dd:5c00:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64346071 (61M) [binary/octet-stream]
Saving to: ‘yellow_tripdata_2024-10.parquet’

yellow_tripdata_202 100%[===================>]  61.36M  19.4MB/s    in 3.3s

2025-03-04 21:56:46 (18.5 MB/s) - ‘yellow_tripdata_2024-10.parquet’ saved [64346071/64346071]

In [6]:
df = spark.read \
    .option("header", "true") \
    .parquet('yellow_tripdata_2024-10.parquet')

In [7]:
df.schema

StructType([StructField('VendorID', IntegerType(), True), StructField('tpep_pickup_datetime', TimestampNTZType(), True), StructField('tpep_dropoff_datetime', TimestampNTZType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True)])

In [8]:
import pandas as pd

In [9]:
df_pandas = pd.read_parquet('yellow_tripdata_2024-10.parquet')

In [10]:
df_pandas.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
dtype: object

In [11]:
df_pandas.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-10-01 00:30:44,2024-10-01 00:48:26,1.0,3.0,1.0,N,162,246,1,18.4,1.0,0.5,1.5,0.0,1.0,24.9,2.5,0.0
1,1,2024-10-01 00:12:20,2024-10-01 00:25:25,1.0,2.2,1.0,N,48,236,1,14.2,3.5,0.5,3.8,0.0,1.0,23.0,2.5,0.0
2,1,2024-10-01 00:04:46,2024-10-01 00:13:52,1.0,2.7,1.0,N,142,24,1,13.5,3.5,0.5,3.7,0.0,1.0,22.2,2.5,0.0
3,1,2024-10-01 00:12:10,2024-10-01 00:23:01,1.0,3.1,1.0,N,233,75,1,14.2,3.5,0.5,2.0,0.0,1.0,21.2,2.5,0.0
4,1,2024-10-01 00:30:22,2024-10-01 00:30:39,1.0,0.0,1.0,N,262,262,3,3.0,3.5,0.5,0.0,0.0,1.0,8.0,2.5,0.0

In [12]:
#spark.createDataFrame(df_pandas).schema

StructType([StructField('VendorID', LongType(), True), StructField('tpep_pickup_datetime', TimestampType(), True), StructField('tpep_dropoff_datetime', TimestampType(), True), StructField('passenger_count', DoubleType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', DoubleType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('Airport_fee', DoubleType(), True)])

In [15]:
df = df.repartition(4)

In [16]:
df.write.mode("overwrite").parquet("yellow_tripdata/2024/10/")

In [20]:
!du -sh yellow_tripdata/2024/10/*.parquet

 23M	yellow_tripdata/2024/10/part-00000-35ec1c0f-e201-4176-a325-cfee6d2407bd-c000.snappy.parquet
 23M	yellow_tripdata/2024/10/part-00001-35ec1c0f-e201-4176-a325-cfee6d2407bd-c000.snappy.parquet
 23M	yellow_tripdata/2024/10/part-00002-35ec1c0f-e201-4176-a325-cfee6d2407bd-c000.snappy.parquet
 23M	yellow_tripdata/2024/10/part-00003-35ec1c0f-e201-4176-a325-cfee6d2407bd-c000.snappy.parquet

In [17]:
df = spark.read.parquet("yellow_tripdata/2024/10/")

In [26]:
from pyspark.sql.functions import col, to_date, max, unix_timestamp

oct_15_trips = df.filter(to_date(col("tpep_pickup_datetime")) == "2024-10-15")

In [27]:
trip_count = oct_15_trips.count()
print(f"Number of trips on October 15: {trip_count}")

Number of trips on October 15: 128893

In [28]:


# Compute trip duration in hours
df = df.withColumn("trip_duration_hours", 
                   (unix_timestamp(col("tpep_dropoff_datetime")) - unix_timestamp(col("tpep_pickup_datetime"))) / 3600)

# Find the longest trip duration
max_duration = df.agg(max("trip_duration_hours")).collect()[0][0]

print(f"Longest trip duration in hours: {max_duration}")

Longest trip duration in hours: 162.61777777777777

In [29]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-03-04 22:13:53--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:21dd:e000:b:20a5:b140:21, 2600:9000:21dd:6e00:b:20a5:b140:21, 2600:9000:21dd:7600:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:21dd:e000:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-03-04 22:13:54 (980 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [30]:
# Load the CSV file into a DataFrame
df_zone_lookup = spark.read.csv("taxi_zone_lookup.csv", header=True, inferSchema=True)

In [31]:
# Show first few rows to verify
df_zone_lookup.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [34]:
df.createOrReplaceTempView('yellow_tripdata')
df_zone_lookup.createOrReplaceTempView('zone')

In [52]:
least_pickup_id = spark.sql("""
SELECT PULocationID, number FROM (
    SELECT 
        PULocationID,
        COUNT(PULocationID) as number
    FROM
        yellow_tripdata
    GROUP BY
        PULocationID
) t
ORDER BY number ASC
LIMIT 1
""")

In [53]:
least_pickup_id.createOrReplaceTempView('least_pickup_id')

In [54]:
least_pickup_id.show()

+------------+------+
|PULocationID|number|
+------------+------+
|         105|     1|
+------------+------+

In [57]:
least_pickup_zone = spark.sql("""
SELECT 
    LocationID,
    Zone
FROM
    zone z INNER JOIN least_pickup_id lpi ON z.LocationID = lpi.PULocationID
""")

In [58]:
least_pickup_zone.show()

+----------+--------------------+
|LocationID|                Zone|
+----------+--------------------+
|       105|Governor's Island...|
+----------+--------------------+